<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Settings - Twitch chat highlighter</title>

        <link rel="stylesheet" href="../../../src/assets/css/main.css">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&family=Roboto:wght@400;700&display=swap"
              rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css">
    </head>

    <body class="p-4">
        <div class="flex flex-col my-4">

            <h1 class="font-bold text-md mb-4">Highlights words</h1>

            <div id="list" class="flex flex-row mb-4 flex-wrap">
            </div>

            <div class="flex">
                <input type="text" id="addedTag" class="text-black border-none outline-none rounded-md px-4">
                <button class="ml-2 px-4 py-1 rounded-md bg-green-500" id="add">Add</button>
            </div>
        </div>

        <div class="flex flex-row">
            <a href="./home.html" class="bg-blue-500 mr-4 rounded-sm px-4 py-1 cursor-pointer flex items-center justify-center">Back</a>
            <a id="logout" class="bg-red-700 rounded-sm px-4 py-1 text-sm flex items-center cursor-pointer justify-center">Logout</a>
        </div>

        <script>
            const logout = document.getElementById("logout");
            const store = require('../../../references').store;
            const list = document.getElementById("list");
            let listStore = store.get("highlight");
            const addTag = document.getElementById("add");

            document.onload = function () {
                document.getElementById("addedTag").focus();
            }

            addTag.addEventListener('click', async (e) => {
                const addedTag = document.getElementById("addedTag").value;

                if (!addedTag) return;
                if (!listStore || listStore.length < 1) {
                    store.set('highlight', [])
                    listStore = store.get("highlight");
                }if (!listStore.includes(addedTag)) {
                    await store.set("highlight", [...listStore, addedTag]);

                    await list.appendChild(createElement(addedTag));
                    document.getElementById("addedTag").value = "";
                } else {
                    return document.getElementById("addedTag").value = ""
                }

                location.reload();
            })

            document.getElementById("addedTag").addEventListener('keyup', (e) => {
                if (e.keyCode === 13) {
                    addTag.click();
                }
            })

            if (listStore) {
                listStore.forEach(tag => {
                    list.appendChild(createElement(tag));
                })
            }

            document.querySelectorAll(".deleteTag").forEach(el => {
                el.addEventListener("click", (event) => {
                    const tag = event.target.parentElement.lastElementChild.innerHTML;
                    const newList = listStore.filter(item => item !== tag);

                    store.set("highlight", newList);
                    event.target.parentElement.remove();

                    location.reload();
                })
            })

            logout.addEventListener('click', (e) => {
                store.clear();
                window.close()
            })

            function createElement(tag) {
                const element = document.createElement("span");
                element.innerHTML = `<div class="px-3 py-1 rounded-md bg-black bg-opacity-50 mr-4 mb-2 flex items-center jutify-center" style="width: fit-content"><a class="mr-2 deleteTag">X</a><span>${tag}</span></div>`;
                return element;
            }
        </script>
    </body>
</html>